build/

cmake-build-*/

out/

# CMake Preset build directories
build-dev/
build-release/
build-release-debug/
build-asan/
build-minsize/
build-test/
build-profile/

.idea/

.vscode/

.cache/

*.pyc

*.exe

scripts/manager.py

.vs/

/testing

/Testing

/CMakeSettings.json