name: CMake Windows Multi-Arch CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x64
            vcvars_arg: x64
          - arch: arm64
            vcvars_arg: x64_arm64

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Configure CMake with MSVC via Ninja
        shell: cmd
        working-directory: .
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" ${{ matrix.vcvars_arg }}
          
          cmake -B build-${{ matrix.arch }} ^
            -G "Ninja" ^
            -DCMAKE_BUILD_TYPE=Release ^
            -DCMAKE_SYSTEM_PROCESSOR=${{ matrix.arch }} ^
            -DCMAKE_C_COMPILER_TARGET=${{ matrix.arch }} ^
            -DCMAKE_CXX_COMPILER_TARGET=${{ matrix.arch }} ^
            -DUSE_STATIC_CRT=ON ^
            -DENABLE_TESTS=OFF ^
            -DGENERATE_EXPAND_MACRO_FILE=OFF ^
            -DUSE_HARDLINKS=ON ^
            -DENABLE_UPX=OFF ^
            -DCMAKE_CXX_STANDARD=23 ^
            -DCMAKE_CXX_STANDARD_REQUIRED=ON ^
            -DCMAKE_EXPERIMENTAL_CXX_MODULE_STD=ON ^
            -DCMAKE_CXX_MODULE_STD=ON ^
            -DCMAKE_CXX_FLAGS="/std:c++latest /EHsc"

      - name: Build Project
        shell: cmd
        working-directory: ./build-${{ matrix.arch }}
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" ${{ matrix.vcvars_arg }}
          cmake --build . --config Release --parallel %NUMBER_OF_PROCESSORS%

      - name: Install Project
        shell: cmd
        working-directory: ./build-${{ matrix.arch }}
        run: cmake --install . --config Release --component Runtime

      - name: Package Project
        shell: cmd
        working-directory: ./build-${{ matrix.arch }}
        run: cpack -G ZIP -C Release

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: WinuxCmd-win-${{ matrix.arch }}-Release-StaticCRT
          path: ./build-${{ matrix.arch }}/*.zip
          retention-days: 0